<div class="container text-center">
  <h1>Today is <%= Date.today.strftime("%A, %b %d") %></h1>

  <ul class="list-unstyled">
    <% %w(Landing_page Details_on_Korea Althoernli).each do |item| %>
    <li>I need to look into <%= item %></li>
    <% end %>
  </ul>


</div>
